attrs==21.4.0
cc-agency==9.1.0
cc-core==9.1.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==7.1.2
cryptography==3.3.2
docker==4.4.4
Flask==1.1.4
idna==3.3
importlib-metadata==4.12.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==2.0.1
pycparser==2.21
pymongo==3.12.3
pyrsistent==0.18.1
pyzmq==23.2.0
red-val==9.1.0
requests==2.28.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
six==1.16.0
typing_extensions==4.3.0
urllib3==1.26.10
websocket-client==1.3.3
Werkzeug==1.0.1
zipp==3.8.1
